.container {
    display: grid;
    gap: 2rem;
    h1 {
        text-align: center;
        text-transform: uppercase;
    }
    button {
        display: grid;
        justify-self: center;
        align-self: center;
        transition: all 0.25s ease-in-out;
        cursor: pointer;
        border: $ColorBlack solid .06rem;
        padding: .8rem 3rem;
        background-color: $ColorWhite;
        order: 3;
        width: max-content;
        text-transform: uppercase;
        font-family: 'Alata', sans-serif;
        font-size: .9rem;
        &:hover {
            background-color: $ColorBlack;
            color: $ColorWhite;
        }
    }
    .showcase-grid {
        padding: 0 2rem;
        display: grid;
        grid-template-rows: 1fr;
        gap: 1.5rem;
        .showcase {
            position: relative;
            text-align: center;
            color: white;
            .overlay-text {
                position: absolute;
                bottom: 20px;
                left: 16px;
                color: white;
                text-align: left;
                text-transform: uppercase;
                width: 135px;
            }
        }
    }
}

@media (min-width: 43em) {
    .container {
        gap: 3rem;
        .showcase-grid {
            grid-template-columns: repeat(2, 1fr);
            .showcase {
                .overlay-text {
                    left: 75px;
                }
            }
        }
    }
}

@media (min-width: 62em) {
    .container {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        gap: 3rem;
        h1 {
            justify-self: flex-start;
            font-size: 2rem;
        }
        button {
            display: grid;
            justify-self: flex-end;
            align-self: start;
            letter-spacing: .2rem;
            font-size: 1rem;
        }
        .showcase-grid {
            padding: 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-row: 2/3;
            grid-column: 1/3;
            gap: 1.5rem;
            .showcase {
                position: relative;
                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }
                .overlay-text {
                    position: absolute;
                    font-size: 1rem;
                    bottom: 20px;
                    left: 30px;
                    width: 135px;
                    line-height: 2rem;
                }
            }
        }
    }
}

@media (min-width: 87em) {
    .container {
        margin-top: 10rem;
        gap: 4rem;
        h1 {
            font-size: 2.5rem;
        }
        button {
            font-size: 1.5rem;
            letter-spacing: .5rem;
        }
        .showcase-grid {
            .showcase {
                .overlay-text {
                    left: 40px;
                    width: 130px;
                    line-height: 2.2rem;
                }
            }
        }
    }
}